h1{
    color: #31A5AC;
    ;
}
.button{
    background-color: #59A5FF;
    padding: 10px 40px;
    color: #fff;
    ;
}

input{
    /* background-color: lightgray; */
    outline: none;
    margin: 5px 10px;
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    text-align: center;
}

.calculation{
    background-color:#F8F8F8;
    border-radius: 10px;
    /* margin-left: 20px; */
    ;
}